# Ignore sensitive files
*.retry
*.log
*.pem
*.key
certs/
gen_certs.yaml

# Ignore local configuration files
ansible.cfg
inventory/hosts.yml
**/*/prometheus.yml
**/*/node_exporter.yml
**/*/ca_control.yml
**/*/snmp_exporter.yml
