# Ignore sensitive files
*.retry
*.log
*.pem
*.key
certs/

# Ignore local configuration files
ansible.cfg
gen_certs.yaml
inventory/hosts.yml
**/*/prometheus.yml
**/*/node_exporter.yml
**/*/ca_control.yml
**/*/snmp_exporter.yml



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# pip environment files
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Installer logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Python test results
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Pylint
.pylint.d/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer artifacts
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/
target/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
